<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/doRegist/" method="get">
    <h1 align="center">get请求</h1>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>
                用户名
            </th>
            <th>
                 <input type="text" name="username"/>
            </th>


        </tr>
        <tr>
            <th>
                密码
            </th>
            <th>
                <input type="password" name="password" />

            </th>

        </tr>
        <tr>
            <th>
                爱好
            </th>
            <th>
                篮球<input type="checkbox" name="hobby" value="basketball">
                足球<input type="checkbox" name="hobby" value="football">
                乒乓球<input type="checkbox" name="hobby" value="pingbangball">
            </th>


        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="注册">
            </th>


        </tr>

    </table>
</form>
<br/>
<form action="/doRegist/" method="post">
    <h1 align="center">post请求</h1>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>
                用户名
            </th>
            <th>
                 <input type="text" name="username"/>
            </th>


        </tr>
        <tr>
            <th>
                密码
            </th>
            <th>
                <input type="password" name="password" />

            </th>

        </tr>
        <tr>
            <th>
                爱好
            </th>
            <th>
                篮球<input type="checkbox" name="hobby" value="basketball">
                足球<input type="checkbox" name="hobby" value="football">
                乒乓球<input type="checkbox" name="hobby" value="pingbangball">
            </th>


        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="注册">
            </th>


        </tr>

    </table>
</form>

</body>
</html>